root = true

[{obmenu,*.py,pipes/obm-*}]
charset = utf-8
end_of_line = lf
indent_style = tab
tab_width = 8
trim_trailing_whitespace = true

[window.glade]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
trim_trailing_whitespace = true
