[Desktop Entry]
Name=Obmenu
Comment=Openbox menu editor
Comment[de]=Openbox-Menüeditor
Comment[eo]=Menuo-redaktilo por Openbox
Comment[es]=Editor de menús de Openbox
Exec=obmenu
Categories=GTK;System;Settings;
MimeType=text/xml;
